{{define "title"}}
  {{.Title}}
{{end}}

{{define "content"}}
  <div class="row">
    <div class="offset-by-one ten columns">
      
      {{if not .IsPage}}
      <h5>{{.Title}}</h5>
      <p><small>{{formatDate .Written}}</small></p>
      {{end}}
      
      {{.Content | html}}
    </div>
  </div>
{{end}}
